/Processing/Dashboard/application.linux32
/Processing/Dashboard/application.linux64
/Processing/Dashboard/application.linux-arm64
/Processing/Dashboard/application.linux-armv6hf
/Processing/Dashboard/application.windows32
/Processing/Dashboard/application.windows64